@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.titleSearch{
    /* border: 1px solid black; */
    background-color: #056CF2;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
}
.logoGiga{
    width: 20rem;
}

.titleSearch h1{
    color: white;
    font-size: 2rem;
}


.formUser{
    /* border: 1px solid black; */
    font-family: 'Poppins';
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem 0;
    height: 8rem;
}

.buttonSearch{
    background-color: white;
    border: none;
}

.userContainer{
    /* border: 1px solid black; */
    /* height: 30rem; */
    display: flex;
    flex-wrap: wrap;
 
    justify-content: center;
    
}

.card{
    font-family: 'Poppins';
    width: 25rem;
    height: 12rem;
    margin: .5rem;
    font-size: 1.6rem;
}